/*google font integration*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*fonts
    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif;
*/

/*global css section*/
*{
	margin: 0;
	padding: 0;
}

/*******************
   css for header
********************/

header{
	width: 100%;
	background: black;
}

.nav-link{
	color: white !important;
    font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	margin-left: 25px;
}
.navbar{
	padding: 1rem 1rem !important;
}
.mobile-menu i{
	color: white;
}

.sticky{
	position: fixed;
	width: 100%;
	z-index: 9999;
	background: rgba(0,0,0,0.6);
}

/*******************
   css for banner
********************/
.banner{
	width: 100%;
	background-image: url(../img/banner.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.banner-text{
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}
.banner-text h1{
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: white;
	font-size: 34px;
	margin: 20px 0;
}
.banner-text .line{
	height: 3px;
	width: 65px;
	background: white;
	margin: 30px 0;
}
.banner-text p{
    font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.8;
	margin: 10px 0;
}
.banner-text button{
	padding: 12px 30px;
	border: none;
	background: none;
	color: white;
	border: 1px solid white;
	margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.banner .banner-form{
	height: 100vh;
	display: flex;
	align-items: center;
}
.banner-form .card{
	margin-left: 100px; 
}
.banner-form .card .card-header h1{
	font-weight: 700;
	font-size: 26px;
    font-family: 'Open Sans', sans-serif;
}
 .card-header h1 span{
	text-transform: uppercase;
	color: #ff9b51;
}

.banner-form .card .card-body .form-group .form-control{
	border: none;
	border-bottom: 1px solid #d6d6d6;
	border-radius: 0;
	margin-bottom: 2rem;
}

.banner-form .card .card-body .form-group .form-control:focus{
	box-shadow: none;
}
.banner-form .card .card-body{
	padding: 1.25rem 2rem;
}

.banner-form .card .card-body .form-group input::placeholder{
	color: #d6d6d6;
}
.banner-form .card .card-footer{
	padding: 0;
}
.banner-form .card .card-footer input{
	width: 100%;
	padding: 15px 0;
	background: #FF9B51;
	color: white;
	font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    border:none;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.banner-form .card{
	border: none;
}

/**********************
  css for social media
***********************/
.social-media{
	width: 100%;
	padding-top: 15px;
	box-shadow: 0 1px 5px 0px;
}
.social-content h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.social-content p{
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin-top: -6px;
	filter: grayscale(1);
	opacity: 0.7; 
}
.social-icon{
	margin-top: 6px;
}
.social-icon ul li{
	list-style: none;
	display: inline-block;
}

.social-icon ul li a i{
	font-size: 50px;
	margin-left: 26px;
	filter: grayscale(1);
	opacity: 0.6;
}

/**********************
  css for feature-1
***********************/
.feature-1{
	width: 100%;
	padding: 120px 0;
	background: #f5f5f5;
}
.feature-1 ul li{
	list-style: none;
	background: #333333;
	border-bottom: 1px solid black;
	height: 100px;
	width: 110px;
	color: white;
	font-size: 16px;
	font-weight: 600;
	line-height: 100px;
	text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
	text-align: center;
	cursor: pointer;
}
.feature-1 ul li:hover{
	background: #ff8b38;
}
.active{
	background: #ff8b38 !important;
}
.tab-1{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.tab-3{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.item-1 h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.item-1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    filter: grayscale(1);
    opacity: 0.7;
    margin: 25px 0;
}
.item-2 h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.item-2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    filter: grayscale(1);
    opacity: 0.7;
    margin: 25px 0;
}
.item-3 h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.item-3 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    filter: grayscale(1);
    opacity: 0.7;
    margin: 25px 0;
}
.item-1 button{
	padding: 12px 30px;
	border: none;
	background: #ff8b38;
	color: white;
	border: 1px solid #ff8b38;
    font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	border-radius: 5px;
}
.item-2 button{
	padding: 12px 30px;
	border: none;
	background: black;
	color: white;
	border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	border-radius: 5px;
}
.item-3 button{
	padding: 12px 30px;
	border: none;
	background: tomato;
	color: white;
	border: 1px solid tomato;
    font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	border-radius: 5px;
}
.feature-1 .col-md-4{
	display: flex;
	align-items: center;
}

/**********************
  css for feature-2
***********************/
.feature-2{
	width: 100%;
	padding: 120px 0;
}

.line-2{
	height: 3px;
	width: 65px;
	background: #ff8b38;
	margin: 30px 0;
}

.feature-2-content{
	padding-left: 40px;
}

.feature-2-content h4{
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.feature-2-content p{
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.7;
}

.feature-2-bottom-1 i{
	color: #ff8b38;
	position: relative;
	padding: 10px 11px;
}

.feature-2-bottom-1 h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}


.feature-2-bottom-2 i{
	color: #ff8b38;
	position: relative;
	padding: 10px 11px;
}

.feature-2-bottom-2 h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.circle-1{
	height: 40px;
	width: 40px;
	border: 2px solid #ff8b38;
	border-radius: 100%;
	position: absolute;
	top: 0;
}

/**********************
  css for feature-3
***********************/
.feature-3{
	width: 100%;
	padding: 120px 0;
	background: #f5f5f5; 
}
.feature-3-content{
	margin-top: 20px;
}
.feature-3-content h4{
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.feature-3-content p{
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.7;
}

.feature-3-img{
	padding-left: 40px;
}

/**********************
  css for process
***********************/
.process{
	width: 100%;
	padding: 120px 0;
}
.process-content h1{
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.process-content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.7;
}
.process-content .line-2{
	margin: 20px auto;
}

.process-content-1{
	margin-top: 40px;
}

.process-content-1 h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-top: 30px; 
}
.process-content-1 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	filter: grayscale(1);
	opacity: 0.7;
}

.process-content-1 i{
	color: #ff8b38;
	font-size: 23px;
	position: relative;
}
.circle-2{
	height: 60px;
	width: 60px;
	border: 2px solid #ff8b38;
	border-radius: 100%;
	position:absolute;
	top: 11%;
	left: 42%;
}

/**********************
  css for pricing
***********************/
.pricing{
	width: 100%;
	background: #f5f5f5;
	padding: 120px 0;
}
.pricing-title .line-2{
	margin: 20px auto;
}

.pricing-title h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.pricing-title p{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.7;
}

.price-table{
	margin-top: 100px;
	align-items: flex-end;
}

.price-table .card{
	border: none;
}


.price-table .card-header{
	background: #333333;
	color: white;
	border: none;
	border-bottom: 1px solid white;
}
.price-table .card-header h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.price-table .card-body{
	background: #333333;
	color: white;
	border-bottom: 7px solid #ff8b38;
}

.price-table .card-body h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 90px;
}

.price-table .card-body h1 span{
	font-size: 36px;
}

.price-table .card-body p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 15px;
	font-style: italic;
	filter: grayscale(1);
	opacity: 0.6;
}

.price-table .card-footer{
	padding: 0 0;
	background: white;
}

.price-table .card-footer ul{
	margin-bottom: 0;
}

.price-table .card-footer ul li{
	list-style: none;
	text-transform: uppercase;
	padding: 7px 0;
	filter: grayscale(1);
	opacity: 0.6;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	border-bottom: 1px solid #f5f5f5;
}

.middle .card-body{
	border-bottom: none;
	padding: 0;
}

.middle .card-body .popular{
	background: #ff8b38;
	padding: 10px 0;
}

.middle .card-body .popular span{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}

.middle .middle-body{
	padding: 20px 20px;
}

/**********************
  css for testimonial
***********************/

.testimonial{
	width: 100%;
	padding-top: 120px;
	padding-bottom: 60px;
}

.testimonial-title h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.testimonial-title p{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.7;
}

.testimonial-title .line-2{
	margin: 20px auto;
}

.customer-comment{
	padding: 60px 0;
}
.customer-comment .comment-box{
	padding-right: 40px;
	padding-left: 40px;
}
.msg-box{
	background: #f5f5f5;
	text-align: left;
	padding: 20px;
	border-radius: 4px;
	position: relative;
}
.msg-box p{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-style: italic;
	filter: grayscale(1);
	opacity: 0.7;
}

.box-icon{
	height: 40px;
    width: 40px;
    background: #f5f5f5;
    position: absolute;
    bottom: -20px;
    left: 40px;
    transform: rotate(45deg);
}

.user-info{
	margin-top: 30px;
}
.user-info .col-md-4{
	text-align: right;
	padding: 0;
}
.user-info .col-md-8{
	text-align: left;
}
.user-info h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin: 0;
}
.user-info p{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.7;
}

/**********************
  css for custom panel
***********************/
.custom-panel{
	width: 100%;
	background-image: url(../img/custom-panel.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	display: flex;
	align-items: center;
}
.custom-panel h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: white;
	font-size: 34px;
}
.custom-panel p{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.8;
}
.custom-panel .line-2{
	background: white;
	margin: 20px auto;
}
.custom-panel button{
	padding: 12px 30px;
	border: none;
	background: none;
	color: white;
	border: 1px solid white;
	margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

/**********************
  css for contact us
***********************/
.contact{
	width: 100%;
	padding-top: 120px;
}
.contact .contact-title h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.contact .contact-title p{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	filter: grayscale(1);
	opacity: 0.7;
}
.contact .contact-title .line-2{
	margin: 20px auto;
}
.contact-form{
	padding-top: 40px;
}
.contact-form .form-control{
	border: none;
	margin-bottom: 18px;
	border-bottom: 1px solid #d6d6d6;
	border-radius: 0;
}
.contact-form .form-control:focus{
	box-shadow: none;
}
textarea{
	resize: none !important;
}

.contact-form .contact-btn input{
	padding: 10px 20px;
	border: none;
	background: #ff8b38;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.contact-form .contact-btn{
	margin: 20px auto;
}

/**********************
  css for footer
***********************/
footer{
	width: 100%;
	background: black;
	margin-top: 40px;
}
footer ul{
	margin: 10px 0;
}
footer ul li{
	list-style: none;
	color: white;
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
}
footer ul li a i{
	color: white;
}

footer p{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
	color: white;
	font-size: 13px;
	filter: grayscale(1);
	opacity: 0.6;
}